<h1>My Courses</h1>

<div data-role="collapsible-set">

	<div data-role="collapsible" data-collapsed="false">
	<h1>Courses I'm Shopping</h1>
	
	<ol data-role="listview" >
		<% @status_shopping.each do |course| %>
		<li>
			Title:<%= course.title %>
			<br>
			Institute: <%= course.institute%>
		</li>
		<% end %>
		</ol>
	</div>

	
	<div data-role="collapsible">
	<h3>Courses I'm Taking</h3>
	
	<ol data-role="listview">
		<% @status_taking.each do |course| %>
		<li>
			Title:<%= course.title %>
			<br>
			Institute: <%= course.institute%>
		</li>

		<% end %>
		</ol>
	</div>
</div>
	


<!-- <div data-role="collapsible-set">

	<div data-role="collapsible">
		<ol>
    <% @status_shopping.each do |course| %>
		<li>
			<details>
				<summary><%= course.title %></summary>
				<p>Course code: <%= course.catalog_number %> </p>
				<p>Institute: <%= course.institute%></p>
				<p>Credits: <%= course.credits%></p>
				<p>Description: <%=course.description.html_safe %> </p>
				<p>Staff: <%= course.staff %> </p>
				<p>Programme: <%= course.programmes %></p>
				<p>Participant count: <%= course.participant_count.html_safe %></p>
			</details>
		</li>		
		<hr>
		<% end %>
		</ol>
	</div>

	<ol data-role="collapsible">
	    <% @status_taking.each do |course| %>
			<li>
				<details>
					<summary><%= course.title %></summary>
					<p>Course code: <%= course.catalog_number %> </p>
					<p>Institute: <%= course.institute%></p>
					<p>Credits: <%= course.credits%></p>
					<p>Description: <%=course.description.html_safe %> </p>
					<p>Staff: <%= course.staff %> </p>
					<p>Programme: <%= course.programmes %></p>
					<p>Participant count: <%= course.participant_count.html_safe %></p>
				</details>
			</li>
		
			<hr>
			<% end %>
	</ol>
</div> -->