<% content_for :heading do %>
View Results
<% end %>


<script>

$(document).bind('pageinit', function() {
	var shoppingChecked = false;
	var takingChecked = false;

	<% unless @course_status.nil? %>
		<% if @course_status.shopping == true %>
		shoppingChecked = true;
		<% end %>
		
		<% if @course_status.taking == true %>
		takingChecked = true;
		<% end %>
		
	<% end %>
	
	$("#checkbox-1").prop('checked', shoppingChecked).checkboxradio('refresh');
	$("#checkbox-2").prop('checked', takingChecked).checkboxradio('refresh');


 });


function toggleShopping(id) 
{	
  $.get("/shopping/" + id);

}

function toggleTaking(id) 
{
	  $.get("/taking/" + id);
}

</script>

<h3><%= @course.title %></h3>
<p>Course code: <%= @course.catalog_number %> </p>
<p>Institute: <%= @course.institute%></p>
<p>Credits: <%= @course.credits%></p>
<p>Description: <%=@course.description.html_safe %> </p>
<p>Staff: <%= @course.staff %> </p>
<p>Programme: <%= @course.programmes %></p>
<p>Participant count: <%= @course.participant_count.html_safe %></p>

<div data-role="fieldcontain">
 	<fieldset data-role="controlgroup" data-type="horizontal">
		<input type="checkbox" name="checkbox-1" id="checkbox-1" data-mini="true" class="custom" onchange="toggleShopping(<%= @course.id %>);"/>
		<label for="checkbox-1">Course I'm Shopping</label>
		<input type="checkbox" name="checkbox-2" id="checkbox-2" data-mini="true" class="custom" onchange="toggleTaking(<%= @course.id %>);"/>
		<label for="checkbox-2">Course I'm Taking</label>
    </fieldset>
</div>