<!DOCTYPE html>
<html>
<h1>View Results</h1>

<script>

function toggleShopping(id) 
{	
  $.get("/shopping/" + id);

}

function toggleTaking(id) 
{
	  $.get("/taking/" + id);
}

</script>


<div>
  <h2>You searched: <%= params[:institute]%></h2>
	<ol>
      <% @courses.each do |course| %>
			<li>
				<details>
					<summary><%= course.title %></summary>
					<p>Course code: <%= course.catalog_number %> </p>
					<p>Institute: <%= course.institute%></p>
					<p>Credits: <%= course.credits%></p>
					<p>Description: <%=course.description.html_safe %> </p>
					<p>Staff: <%= course.staff %> </p>
					<p>Programme: <%= course.programmes %></p>
					<p>Participant count: <%= course.participant_count.html_safe %></p>
				</details>
			</li>
			<!-- <%= check_box_tag(:shopping, :action => "toggle_shopping") %>
			<%= label_tag(:shopping, "Course I'm Shopping") %> -->
				<input type="checkbox" onchange="toggleShopping(<%= course.id %>);">Course I'm Shopping
				<input type="checkbox" onchange="toggleTaking(<%= course.id %>);">Course I'm Taking
			
			<hr>
			<% end %>
	</ol>
</div>
</html>